



.keywords{
    margin-top: 10px;
    margin-bottom: 20px;
}

*{
    margin: 0;
}

.header{
    display: flex;
	/* Выравниваем элементы вертикально по центру. */
    background-color: #39b54a;
}




#content {
    width: 500px; /* Ширина слоя */

   }
.main {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
    text-decoration: none  ;

}
.footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #095fe0; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }

.post_text{
    margin: 10px;
    text-align: center;

}





.post_foto{
    margin-top:40px ;
    margin-right:10px ;
    margin-bottom: 10px;
}

#about_blog{
    margin:5px 5px;
}



#sponsor:hover{
    background: black;
    color: #0dff00;
    font-size: 100px;

}

#footer-text{
    padding-right:20px ;
    color: white;
}

.author_description{
    width: 600px; /* Ширина слоя */
    float: left;
    margin-left: 100px;


}



.btn {
    margin:10px ;


}

#title{
    color: black;

}



li{
    list-style-type: none;
}

