

#title{
    margin-top: 40px;
    margin-bottom: 10px;
}

.keywords{
    margin-top: 10px;
    margin-bottom: 20px;
}

*{
    margin: 0;
}

.header{
    display: flex;
	/* Выравниваем элементы вертикально по центру. */
    background-color: #39b54a;
}
.menu{
    display: inline-block;
    margin: 10px;
    padding: 3px;
    border: 3px solid black;
    border-radius: 10px;
}
.menu:hover{
    box-shadow: 3px 3px  black;
}

#content {
    width: 500px; /* Ширина слоя */

   }
.main {
    width: 500px; /* Ширина слоя */
    margin: 0 auto 50px; /* Выравнивание по центру */
    text-decoration: none  ;

}
.footer {
    position: fixed; /* Фиксированное положение */
    left: 0; bottom: 0; /* Левый нижний угол */
    padding: 10px; /* Поля вокруг текста */
    background: #39b54a; /* Цвет фона */
    color: #fff; /* Цвет текста */
    width: 100%; /* Ширина слоя */
   }

.post_text{
    margin: 10px;
    text-align: center;

}

a{
    text-decoration: none;
    color: black;
}


a:hover{
    color: #39b54a;
}

.post_foto{
    margin-top:40px ;
    margin-right:10px ;
    margin-bottom: 10px;
}

#about_blog{
    margin:5px 5px;
}



#sponsor:hover{
    background: black;
    color: #0dff00;
    font-size: 100px;

}

#footer-text{
    padding-right:20px ;
}

