{% extends "index.html" %}
{% block topmenu %}
             <img width="100px" src="https://svirtus.cdnvideo.ru/s1rt-UrYVRxw6r1ofNsCpyFdgvE=/0x0:643x439/1200x1200/filters:quality(100)/https://hb.bizmrg.com/cybersportru-media/88/883564dcd4b8e43b49772c7ef5774a98.png?m=6aaafa902e7ea80a11a641db7c61f344">
            <button><a href="http://127.0.0.1:8000">Главная страница</a></button>
            <button><a href="http://127.0.0.1:8000/about/">О сайте</a></button>
            <button><a href="http://127.0.0.1:8000/contacts/">Контакты</a></button>
            <h1 align="center">О блоге</h1>
{% endblock %}
{% block content %}
    Блог (англ. blog, от web log — интернет-журнал событий, интернет-дневник, онлайн-дневник) — веб-сайт, основное содержимое которого — регулярно добавляемые человеком записи, содержащие текст, изображения или мультимедиа.
    Для блогов характерна возможность публикации отзывов (комментариев) посетителями; она делает блоги средой сетевого общения, имеющей ряд преимуществ перед электронной почтой, группами новостей и чатами.
    Людей, ведущих блог, называют бло́герами[1][2]. Совокупность всех блогов Сети принято называть блогосферой.
{% endblock %}