<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% autoescape off %}
<div lang="en" xmlns="http://www.w3.org/1999/html">
    <body>
    <head>
        <meta charset="UTF-8">
        <title>Блог с симплом на аве</title>
        <link rel="stylesheet", href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
        {% block topmenu %}
            <nav class="navbar fixed-top navbar-dark bg-dark">
                <ul class="navbar-nav mr-auto">
                    <li class="navbar-brand">
                        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/2/2c/NAVI_logo.png/1200px-NAVI_logo.png" width="60" height="60">
                    </li>
                    <li class="nav-item">
                       <button type="button" class="btn btn-outline-light">Главная</button>
                    </li>

                    <li class="nav-item">
                       <button type="button" class="btn btn-outline-light">О нас</button>
                    </li>
                </ul>
            </nav >
        {% endblock %}

        {% block content %}
            <div class="main">
                {% for post in posts %}
                    <h1><a href="{% url 'post' post.id %}">
                        <img src="{{ post.post_foto }}" width="100px" height="80px" align="left" class="post_foto">

                        <div id="title"><h2>{{ post.post_title }}</h2></div>

                    </a></h1>
                    <p class="preview">{{ post.post_text }}</p>
                    <div class="keywords">{{ keywords }}</div>
                    <a href="{% url 'author' authors.id %}">{{ authors.author_name }}</a>
                {% endfor %}
            </div>
        {% endblock %}

        {% block footer %}
            <div class="navbar fixed-bottom navbar-dark bg-dark">
            <p align="right" id="footer-text">Наши контактные данные:+79995556235</p>
            </div>
        {% endblock %}
     {% endautoescape %}
    </body>
</div>
</html>
