<!DOCTYPE html>
<html lang="ru">
{% load static %}
{% autoescape off %}
<div lang="en" xmlns="http://www.w3.org/1999/html">
    <body>
    <head>
        <meta charset="UTF-8">
        <title>Блог с симплом на аве</title>
        <link rel="stylesheet", href="{% static 'style.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>
        {% block topmenu %}
            <nav class="navbar  navbar-dark bg-dark">
                <ul class="navbar ">
                    <li class="navbar-brand">
                        <img src="https://upload.wikimedia.org/wikipedia/ru/thumb/2/2c/NAVI_logo.png/1200px-NAVI_logo.png" width="60" height="60">
                    </li>
                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000"><button type="button" class="btn btn-outline-light">Главная</button></a>
                    </li>

                    <li class="nav-item">
                        <a href="http://127.0.0.1:8000/contacts/"><button type="button" class="btn btn-outline-light">О нас</button></a>
                    </li>


                </ul>
            </nav >
        {% endblock %}

        {% block content %}
            <div class="main">
                {% for post in posts %}
                    <div class="post">
                        <h1><a href="{% url 'post' post.id %}">
                            <img src="{{ post.post_foto }}" width="100px" height="80px" align="left" class="post_foto">

                            <div id="title"><h2>{{ post.post_title }}</h2></div>

                        </a></h1>
                        <p class="preview">{{ post.post_text }}</p>
                        <div class="keywords">{{ keywords }}</div>
                        <a href="{% url 'author' post.post_author.id %}">{{ post.post_author.author_name }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endblock %}

        {% block footer %}
            <div class="navbar fixed-bottom navbar-dark bg-dark">
            <p align="right" id="footer-text">Наши контактные данные:+79995556235</p>
            </div>
        {% endblock %}
     {% endautoescape %}
    </body>
</div>
</html>
